<mat-card class="card" style="margin-right: 5%">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="300px">
            <mat-grid-tile colspan="1">
                <mat-card style="height: 300px; width: 300px; box-shadow: none">
                    <mat-card-header>
                        {{ type_string }}
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="3" rowHeight="50px">
                            @if (this.type !== "light") {
                                <mat-grid-tile colspan="2" rowspan="2">
                                    <h1 style="font-size: 32px; align-self: flex-end;">
                                        {{this.actualValue??"--"}} {{this.unit}}</h1>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="1" rowspan="1">
                                    <mat-icon>{{this.icon}}</mat-icon>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="1" rowspan="1">
                                    <p>{{this.goalValue}} {{this.unit}}</p>
                                </mat-grid-tile>
                                <mat-grid-tile colspan="3" rowspan="1">
                                    <p>{{state}}</p>
                                </mat-grid-tile>
                            } @else {
                                <mat-grid-tile colspan="3" rowspan="3">
                                    <h1>lumière allumée</h1>
                                </mat-grid-tile>
                            }
                            <mat-grid-tile colspan="3" rowspan="1">
                                <button [routerLink]="['/config']" [queryParams]="{ deviceEui: this.currentDevice }"
                                    mat-button>Configuration</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <app-chart [type]="type" [color]="color" [data]="data" class="app-chart" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>