<mat-card class="card" style="width: 80%">
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="300px">
            <mat-grid-tile colspan="1">
                <mat-card style="height: 300px; width: 300px;">
                    <mat-card-header>
                        Température
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="3" rowHeight="50px">
                            <mat-grid-tile colspan="2" rowspan="2">
                                <h1 style="font-size: 32px; align-self: flex-end;">
                                    {{this.actualValue??"--"}} {{this.unit}}</h1>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="1" rowspan="1">
                                <mat-icon>{{(this.actualValue! < this.goalValue!) ? "call_made" : (this.actualValue! > this.goalValue!) ? "call_received" : "equal"}}</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="1" rowspan="1">
                                <p>{{this.goalValue??"--"}} {{this.unit}}</p>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="3" rowspan="1">
                                <p>en cours de chauffe</p>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="3" rowspan="1">
                                <button [routerLink]="['config', this.currentDevice]" mat-button>Configuration</button>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <app-chart [type]="type" [color]="color" [data]="data" class="app-chart" />
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>