.contenu {
    margin: 16px;
    height: 95%;
    background-color: #ffffff;

    > mat-card-content {
        padding: 20px;

        > .entry {
            background-color: var(--denim);
            color: white;
            font-size: 1.2em;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            padding: 16px;
            border-radius: 16px;

            > .title {
                display: inline-block;
                vertical-align: middle;
                margin-left: 16px;
                font-size: 1.2em;
            }

            > mat-form-field {
                margin: 0;
                padding: 0;
            }
        }
    }

    .config {
        padding: 20px;
        padding-top: 0; 

        > mat-card-content {
            background-color: white;
            color: var(--denim);
            font-size: 1.2em;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            padding: 16px;
            margin-bottom: 16px;
            border-radius: 16px;
            display: flex;
            align-items: center;
        }
    }
}

.device-select {
    width: 40%;
    margin-right: 5%;
}

.form-top {
    display: flex;
    justify-content: space-between;
    > button {
        height: 50px;
    }
}