<body>
	<div>
		<mat-form-field class="device-select">
			<mat-select [(ngModel)]="selectedDevice" (selectionChange)="onSelect(selectedDevice)">
				@for (terminal of deviceList; track $index) {
					<mat-option [value]="terminal">
						{{ terminal.deviceName }}
					</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<mat-button-toggle-group [(ngModel)]="dateSelection" (valueChange)="onDateSelect(dateSelection)">
			<mat-button-toggle value=1 style="width: 100px">24 h</mat-button-toggle>
			<mat-button-toggle value=2 style="width: 100px">48 h</mat-button-toggle>
			<mat-button-toggle value=7 style="width: 100px">7 j</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
	<card [valueActuel]="latestTemperatureData.value" [unit]="latestTemperatureData.unit" [type]="'temperature'" [color]="'70, 51, 245'" [data]="temperatureData" />
	<br />
	<card [valueActuel]="latestHumidityData.value" [unit]="latestHumidityData.unit" [type]="'humidity'" [color]="'17, 196, 209'" [data]="humidityData" />
	<br />
	<card [valueActuel]="latestLightData.value" [unit]="latestLightData.unit" [type]="'light'" [color]="'2, 222, 127'" [data]="lightData" />
	<br />
</body>